.root {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F4F4F4;
}

.root img {
    max-width: 100%;
}

.root__section {
    width: 80%;
    margin: auto;
}

.root__section_margins_top-bottom {
    margin: 80px auto;
}

.header {
    /* сделаем header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    width: 60px;
}

.menu__item {
    color: black;
    text-decoration: none;
    /* расстояние между ссылками 20 */
    margin-right: 20px;
}

.menu__item:hover {
    text-decoration: underline;
}

.menu__item:last-of-type {
    /* поговорить про обнуление */
    margin-right: 0;
}

.cover {
    min-height: 70vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.root__cover {
    background-image: url(../images/cover.jpg);
    /* разместим по центру слона */
}

.cover__image {
    width: 350px;
}



.round {
    /* положим сверху круг */
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 10px solid white;
}

.round_pos_center {
    /* отцентрируем круг */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-text__paragraph {
    font-size: 14px;
    line-height: 1.5;
}

.blockquote {
    margin: 0;
    border-left: 5px double black;
}

.blockquote_pos_moved-right {
    /* сдвинем цитату слева на 60 пикселей */
    position: relative;
    left: 60px;
}

.blockquote__text {
    font-size: 32px;
    line-height: 1.2;
    margin-left: 40px;
}

.cards {
    /* поставим карточки в линию с переносом */
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 40px;
}

.card {
    border-radius: 4px;
    box-shadow: 0 0 5px grey;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
}

.card__heading {
    margin: 0;
    font-size: 24px;
}

.card__heading-marker {
    color: white;
    padding: 5px;
    font-size: 14px;
    /* сдвинем маркер на 12 вверх и на 10 влево */
    position: absolute;
    left: -10px;
    top: -12px;
}

/* внимание на модификаторы */
.card__heading-marker_type_truth {
    background-color: green;
}

.card__heading-marker_type_false {
    background-color: red;
}

.card__text {
    font-size: 14px;
    line-height: 1.5;
}



.photo-grid {
    /* сверстаем сетку картинок (600 в высоту, 20 - промежуток) */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    min-height: 600px;
}

@media screen and (max-width: 768px) {
    .photo-grid {
        display: block;
    }
}

.photo-grid__item {
    /* подгоним картинки под размеры */
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.photo-grid__item:first-of-type {
    /* создадим area */
    grid-row-start: 1;
    grid-row-end: 4;
}

.photo-grid__item:nth-of-type(4) {
    /* создадим area */
    grid-column-start: 2;
    grid-column-end: 4;
}

.up {
    margin: 0;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    /* привяжем вниз вправо 20 20 */
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.footer {
    min-height: 60px;
    background-color: black;
}